<div class="send-message-details">
  <div class="s-image">
    <%= link_to avatar(message.sender), profile_path(message.sender) %>
  </div>

  <div class="s-about">
    <h4 class="s-heading">
      <% if message.sender == current_user %>
        Me
      <% else %>
        <%= link_to message.sender.name, profile_path(message.sender) %>
      <% end %>
    </h4>
    <span class="s-time-date pull-right"><%= timeago_tag(message.created_at) %></span>
    <%= simple_format(sanitize(message.body)) %>
  </div>
  <div class="clr"></div>
</div>
