<div class="row">
  <%= render 'layouts/left_side' %>
  <div role="main" class="col-md-6">
    <div class="message-info">
      <button type="button" class="btn btn-primary buttons-bg reply-icon"> Reply</button>
      <button type="button" class="btn btn-primary buttons-bg markas-icon"> Mark As Unread</button>
      <button type="button" class="btn btn-primary buttons-bg delete-icon"> Delete</button>
      <button type="button" class="btn btn-primary buttons-bg blocks-icon"> Block </button>
      <button type="button" class="btn btn-primary buttons-bg report-icon"> Report</button>

      <div class="col-md-12 inbox-messages">
        <div class="row">
          <div class="col-md-12 inbox-m">
            <h4><%= current_user.new_messages.size %> Unread Messages</h4>
          </div>

          <ul>
            <% @messages.each do |sender, messages| %>
              <%= render 'inbox_message', messages: messages %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

