  <h5><u>Verifications</u></h5>
  <%= icon("fa fa-facebook-square") %> Facebook: <small>158 Friends</small>
        <div class="name"></div>
  <%= icon("fa fa-twitter") %> Twitter: <small>2,300 Followers</small>
        <div class="name"></div>
  <%= icon("fa fa-linkedin") %> LinkedIn: <small>82 Connections</small>
        <div class="name"></div>
      </div>
