<p>
  Hi <%= @user.username %>,
  <br/>
  <br/>
  <b><%= @visitor.name %></b> viewed your profile.
</p>

<p>
  <%= link_to 'See more', visitors_url %>
</p>

<p>
  Thanks,<br />
  Friendiose Team
</p>
