<p>
  Hi <%= @recipient.name %>,
  <br/><br/>
  You have recieved the following message from <%= @sender.name %>:
</p>

<p>
  <%= @message.body %>
</p>

<p>
  <%= link_to 'Reply to message', message_url(@message.conversation) %>
</p>

<p>
  Thanks,<br />
  Friendiose Team
</p>
