<p>
  Hi <%= @owner.name %>, new participant to <b><%= @activity.title %></b>  activity!
</p>

<p>
  <%= link_to @participant.name, profile_url(@participant) %>
</p>

<p>
  <%= link_to 'Go to activity', activity_url(@activity) %>
</p>
