<%
  user = comment.user
 %>

<div class="comments-details">
  <div class="c-imge">
    <% if user.profile_image.present? %>
      <%= image_tag(comment.user.profile_image_url(:thumb), size: '35x35') %>
    <% else %>
      <%= image_tag("people_image.jpg") %>
    <% end %>
  </div>
  <div class="c-about">
    <p class="c-heading"><%= user.name %></p>
    <p class="c-time-date pull-right"><%= time_ago_in_words(comment.created_at) + " ago" %></p>
    <p class="c-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan-tium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt expica-bo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
  </div>
  <div class="clr"></div>
</div>
