<div class="row">
  <%= render 'layouts/left_side' %>
  <div role="main" class="col-md-6">
    <div class="message-info">
      <button type="button" class="btn btn-primary buttons-bg delete-icon delete_notifications"> Delete</button>
      <div class="col-md-12 inbox-messages">
        <div class="row">
          <div class="col-md-12 inbox-m">
            <h4><%= current_user.new_notifications.size %> new notifications</h4>
          </div>

          <ul>
            <%= form_tag '/delete_notifications', class: 'delete_notifications_form' do %>
            <%= render @notifications %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<script type="text/javascript">
  $('.delete_notifications').on('click', function(event) {
    $('.delete_notifications_form').submit();
  });
</script>
