<div class="col-md-3">
  <div class="panel panel-default">
    <div id="multiAccordion1">
      <h3 class="panel-title panel-heading-text"><a href="#">Age</a></h3>
      <div>
        <div class="panel-body age">
          <span>Form </span>
          <select>
            <option value="18"> 18 </option>
            <option value="19"> 19 </option>
            <option value="20"> 20 </option>
            <option value="21"> 21 </option>
            <option value="22"> 22 </option>
            <option value="23"> 23 </option>
            <option value="24"> 24 </option>
            <option value="25"> 25 </option>
            <option value="26"> 26 </option>
            <option value="27"> 27 </option>
            <option value="28"> 28 </option>
            <option value="29"> 29 </option>
            <option value="30"> 30 </option>
          </select>
          <span>To</span>
          <select>
            <option value="18"> 22 </option>
            <option value="19"> 23 </option>
            <option value="20"> 24 </option>
            <option value="21"> 25 </option>
            <option value="22"> 26 </option>
            <option value="23"> 27 </option>
            <option value="24"> 28 </option>
            <option value="25"> 29 </option>
            <option value="26"> 30 </option>
            <option value="27"> 31 </option>
            <option value="28"> 32 </option>
            <option value="29"> 33 </option>
            <option value="30"> 34 </option>
          </select>
        </div>
      </div>
    </div>
    <div id="multiAccordion2">
      <h3 class="panel-title panel-heading-text border-t"><a href="#">Gender</a></h3>
      <div>
        <div class="panel-body genders">
          <span>Show Only</span>
          <select class="select-style">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      </div>
    </div>
    <div id="multiAccordion3">
      <h3 class="panel-title panel-heading-text border-t"><a href="#">Ethnicity</a></h3>
      <div>
        <div class="panel-body">
          <div class="checkbox">
            <input id="check1" type="checkbox" name="check" value="check1">
            <label for="check1">Caucasian</label>
            <br>
            <input id="check2" type="checkbox" name="check" value="check2">
            <label for="check2">African American/Black</label>
            <br>
            <input id="check3" type="checkbox" name="check" value="check3">
            <label for="check3">Hispanic/Latino</label>
            <br>
            <input id="check4" type="checkbox" name="check" value="check4">
            <label for="check4">Asian</label>
            <br>
            <input id="check5" type="checkbox" name="check" value="check5">
            <label for="check5">Middle eastern</label>
            <br>
            <input id="check6" type="checkbox" name="check" value="check6">
            <label for="check6">Pacific Islander</label>
            <br>
            <input id="check7" type="checkbox" name="check" value="check7">
            <label for="check7">Native American</label>
            <br>
            <input id="check8" type="checkbox" name="check" value="check8">
            <label for="check8"> Other</label>
          </div>
        </div>
      </div>
    </div>

    <div id="multiAccordion4">
      <h3 class="panel-title panel-heading-text border-t"><a href="#">Interest</a></h3>
      <div>
        <div class="panel-body">
          <div class="checkbox">
            <input id="check9" type="checkbox" name="check" value="check9">
            <label for="check9">Interest 1</label>
            <br>
            <input id="check10" type="checkbox" name="check" value="check10">
            <label for="check10">Interest 2</label>
            <br>
            <input id="check11" type="checkbox" name="check" value="check11">
            <label for="check11">Interest 2</label>
            <br>
            <input id="check12" type="checkbox" name="check" value="check12">
            <label for="check12">Interest 2</label>
            <br>
            <input id="check13" type="checkbox" name="check" value="check13">
            <label for="check13">Interest 2</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
