<div class="footer">
<div class="name"></div>
  <div class="container">
<br />
    <ul>
      <li>
        &copy; Friendiose 2013
      </li>
      <li>
        <%= link_to "Contact us", "mailto:naushad@friendiose.com" %>
      </li>
    </ul>
  </div>
</div>

