<footer>
  <div class="container">
    <p class="f-logo">
      <%= link_to image_tag('footer_logo.png'), root_path %>
    </p>
    <p class="links">
    <a href="#">Blog</a>
    <a href="#">About</a>
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
    <a href="#">Copyright</a>
    </p>
  <p class="copy">2014 © Friendiose. All Rights Reserved</p>
  </div>
</footer>
