<ul class="nav nav-pills nav-stacked">
  <ul class="nav nav-list">
    <i class="r"></i>
    <div class="line">
      <li><%= link_to icon("fa fa-search ") + " Browse" , profiles_path %></li>
    </div>
    <div class="line">
      <li><%= link_to icon("fa fa-calendar-o ") + " Events" , events_path %></li>
    </div>
    <div class="line">
      <li><%= link_to icon("fa fa-envelope-o ") + " Messages" , inbox_path %></li>
    </div>
    <div class="line">
      <li><%= link_to icon("fa fa-user ") + " My Profile" , welcome_path %></li>
    </div>
    <div class#="line">
      <li><%#= link_to icon("fa fa-users ") + " People" , users_path %></li>
    </div>
  </ul>
</ul>
