<h5>Verify yourself</h5>
<div class="name"></div>
<div class="social_el">
  <i class="fa fa-facebook-square"></i> Facebook:
  <div class="btn pull-right">
    <%= check_fb_connection %>
  </div>
</div>

<div class="name"></div>
<div class="social_el">
  <i class="fa fa-twitter"></i> Twitter:
  <div class="btn pull-right">
    <%= check_tw_connection %>
  </div>
</div>

<div class="name"></div>
<div class="social_el">
  <i class="fa fa-linkedin"></i> LinkedIn:
  <div class="btn pull-right">
  <%= check_li_connection %>
  </div>
</div>
<div class="name"></div>
