<div class="banner">
  <%= image_tag 'banner.jpg', alt: 'banner-image' %>
  <div class="home-page-m">
    <div class="container">
      <p class="banner-heading">meet people like you near you</p>
      <div class=" col-md-4 col-xs-12 sign-up-form">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Sign Up</h3>
          </div>
          <div class="panel-body">
            <form role="form">
              <div class="form-group">
                <label for="exampleInputEmail1">Email Address :</label>
                <input type="email" class="form-control" id="Email1">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password :</label>
                <input type="password" class="form-control" id="Password">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Zip Code :</label>
                <input type="text" class="form-control" id="zip">
              </div>
              <div class="col-md-12 text-center sign-b">
                <button type="submit" class="btn btn-default creat-event">Create Account</button>
                <p>By clicking the button you agree to<br>
                  the terms and conditions</p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
