<%= render "shared/header" %>
<div id="landing_welcome_page">
  <div class="container">
    <h3>Thanks for signing up! Unfortunately, we're not quite ready to launch just yet. We'll be sure to let you know as soon as we do.                       </h3>
  </div>
</div>
<script>
  
  var fb_param = {};                                                                                                                                 
  fb_param.pixel_id = '6009056882201';                                                                                                             
  fb_param.value = '0.00';                                                                                                                                   
  (function(){                                                                                                                                               
    var fpw = document.createElement('script');                                                                                                           
    fpw.async = true;                                                                                                                                      
    fpw.src = '//connect.facebook.net/en_US/fp.js';                                                                                                         
    var ref = document.getElementsByTagName('script')[0];                                                                                                   
    ref.parentNode.insertBefore(fpw, ref);                                                                                                                   
  })();                                                                                                                                                    

</script>
<noscript>
  <img height="1" src="https://www.facebook.com/offsite_event.php?id=6009056882201&amp;value=0" style="display:none;" width="1"/>
</noscript>

