<div class="col-md-3">
  <button type="button" class="btn btn-primary btn-lg btn-block creat-event margin-b">Rsvp to this event</button>
  <button type="button" class="btn btn-primary btn-lg btn-block edit-event mark-icon">Edit Event Details</button>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Hosted By</h3>
    </div>
    <div class="panel-body">
      <div class="hosted-image"><img src="images/people_image.jpg" alt="image"></div>
      <p class="host-by-title">Anthony Panepinto</p>
    </div>
    <div class="panel-heading">
      <h3 class="panel-title">3 people are attending</h3>
    </div>
    <div class="panel-body pading-n">
      <div class="row attending-peoples">
        <div class="col-xs-12">
          <div class="attending-peoples-image"><img src="images/people_image.jpg" alt="image"></div>
          <p>Jessica finkelstein</p>
          <div class="clr"></div>
        </div>

      </div>
      <div class="row attending-peoples">
        <div class="col-xs-12">
          <div class="attending-peoples-image"><img src="images/people_image.jpg" alt="image"></div>
          <p>Nick Johnson</p>
          <div class="clr"></div>
        </div>

      </div>
      <div class="row attending-peoples border-none">
        <div class="col-xs-12">
          <div class="attending-peoples-image"><img src="images/people_image.jpg" alt="image"></div>
          <p>Dave Park</p>
          <div class="clr"></div>
        </div>
      </div>
    </div>
  </div>
</div>
