<div class="row attending-peoples participant_<%= @participant.id %>">
  <div class="col-xs-12">
    <div class="attending-peoples-image">

      <%= image_tag 'people_image.jpg' %>
    </div>
    <p><%= @participant.name %></p>
    <div class="clr"></div>
  </div>
</div>
