      <ul class="nav nav-pills nav-stacked">
	<ul class="nav nav-list">
	  <i class="r"></i>
	  <div class="line">
	    <li><%= link_to icon("fa fa-user ") + " Profile" , welcome_path %></li>
	  </div>
	  <div class="line">
	  <li><%= link_to icon("fa fa-calendar-o ") + " Events" , events_path %></li>
	  </div>
	  <div class="line">
	  <li><%= link_to icon("fa fa-envelope-o ") + " Messages" , welcome_path %></li>
	  </div>
	  <div class="line">
	  <li><%= link_to icon("fa fa-users ") + " People" , welcome_path %></li>
	  </div>
	</ul>
      </ul>
