<h5>Navigation</h5>
<div class="name"></div>
<br />
<%= link_to icon("fa fa-calendar-o ") + " Events" , events_path %>
<div class="name"></div>
<br />
<%= link_to icon("fa fa-envelope-o ") + " Messages" , welcome_path %>
<br />
<div class="name"></div>
<br />
<%= link_to icon("fa fa-user ") + " My Profile" , welcome_path %>
<div class="name"></div>


