<% if (@event.age_min..@event.age_max).include?(current_user.age) %>
$('.event_participants').append("<%= j(render 'participant') %>");
$('.attend_button').html("<%= j(button_to 'Stop attending this event', stop_attend_event_path(@event), method: :delete, remote: true,
            confirm: 'Are you sure you want to stop attending this event?',
            class: 'btn btn-primary btn-lg btn-block creat-event margin-b') %> <div class='clearfix'></div>");
<% else %>
  alert("Your age does not correspond to event requirements. min: <%= @event.age_min %>, max: <%= @event.age_max %>")
<% end %>
