<div class="container">
  <div class="row">
    <div class="span3">
      <%#= render 'home/sidebar' %>
      <h5>Interesting people</h5>
       <% @interesting_people.each do |person| %>
         <% if person.first_name.present? %>
         <%= simple_user_avatar(person) %>
        <% end %>
      <% end %>
      <hr>
    </div>

    <div class="span6">
      <div class="events_list">
        <!-- look in events/event.hmlt.erb -->
        <%= render @events %>
      </div>
    </div>

    <div class="span3">
      <span class="btn btn-success fileinput-button">
	      <span class="white">
          <%= link_to new_event_path, class: 'add_event' do %>
            <i class="icon-plus icon-white"></i>
            Create event
          <% end %>
        </span>
      </span>
    </div>
  </div>
</div>
