<div class="row">
  <%= render 'layouts/left_side' %>

  <div role="main" class="col-md-6">
    <div class="col-md-12 showing-event">
      <div class="row">
        <div class="col-md-12">
          <h4 class="events_counter">
            <%= @events.any? ? "Showing #{@events.size} Upcoming Events" : "No events to show" %>
          </h4>
          <% if @events.size > 4 %>
          <div class="col-md-3 row fr">
            <select class="form-control">
              <option value="">SORT BY</option>
              <option value="1">General</option>
              <option value="2">News</option>
              <option value="3">Media</option>
              <option value="4">Funny</option>
            </select>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-12 event_info">
      <div class="loading" style="display:none;"><h4>Loading events...</h4></div>
      <div class="row">
        <%= render @events %>
        <br>
      </div>
    </div>
  </div>

  <%= render 'events/right_side' %>
</div>
