/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * bootstrap-editable
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.Jcrop
 *= require_self
 *= require jquery.ui.all
 *= require bootstrap
 *= require mediaquery
 *= require tabs_css
 *= require selectify
 *= require datepicker
 *= require bootstrap-timepicker.min
 *= require jquery.fileupload-ui
 *= require jquery.pnotify.default
 *= require jquery.pnotify.default.icons
 *= require bootstrap-wysihtml5
 *= require jquery.timepicker
 *= require mystyle
*/

#map {
  width:100%;
  height: 200px;
  margin: 0;
}
.datepicker.dropdown-menu{
  background: #fff;
}
.bootstrap-timepicker-widget.dropdown-menu{
  background: #fff;
}
.edit-icon{
  cursor: pointer;
}
span.notes_count, span.messages_count {
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
  color: #fff;
}

#background_cycler{padding:0;margin:0;width:100%;position:absolute;top:0;left:0;z-index:-1}
#background_cycler img{position:absolute;left:0;top:0;width:100%;z-index:1}
#background_cycler img.active{z-index:3}

#event_max_attendees {
  max-width: 115px;
}

.results{
  position: absolute !important;
  z-index: 10000;
  background: none repeat scroll 0 0 #FFFFFF;
  border-left: 1px solid #E8DACE;
  border-radius: 5px;
  padding: 0 !important;
  min-height: 0px !important;
}
.result{
  margin-bottom: 0px !important;
}
.result_item{
  padding: 5px 5px;
}
.result_image{width: 55px;}
.result_image img{width: 100%;}

.login-buttons {
  margin-top: 12px;
}

