@import "bootstrap";


form.new_user {
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    margin: 0 auto;
    padding: 30px 20px 20px;
    width: 470px;
}

body {
  h1, h2, h3, h4, h5, h6 {
    font-family: "museo", helveticaneue, sans-serif;
  }
}

#head {
height: 60px;
}

// Header

// original header color - #1b60a4;
.navbar-header {
  padding: 10px 0px;
  background: #1b60a4;
  padding-left: 150px;
  clear: both;

  ul {
    font-family: "lucida grande", helveticaneue, sans-serif;
    font-size: 14px;
    list-style-type: none;
    margin:0 16px 0 0;
    padding:10px 0 0 0;
    float: right;
    margin-top: 13px;
    li {
      display: inline-block;
      margin-left: 25px;
      a {
        padding: 6px 20px;
        background-color: #ffa500;
        @include border-radius(6px);
        color: white;
        &:hover {
          text-decoration: none;
        }
      }
      &.login a {
        background-color: #4c4c4c;
      }
    }
  }
}

// Footer
.footer {
moz-appearance: none !important;
-moz-box-shadow: none !important;
border: none !important;
background-color: transparent !important;
  padding: 20px 0px;

  ul {
    list-style-type: none;
    text-align: center;
  }
}

// Radio button style
.radio-group-row{
  .radio-group-title {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    vertical-align: bottom;
  }
  .inline {
    padding-top: 0px;
  }
}


.navbar-header ul li a {
    background-color: FFA500;
    border-radius: 6px;
    color: black;

}

.remove {
  position: absolute;
  margin-left: -25px;
  font-size: 17px;
  font-weight: bold;
  padding: 0 5px;
}
