#landing_welcome_page {
  h3 {
    text-align: center;
  }
}

.btn a {
     text-decoration: none;
}

.fa-facebook-square:before {
    color:#3B5998;
}

.fa-twitter:before {
    color:#4099FF;
}

.fa-linkedin:before {
    color: #4875B4;
}
.bubble{
  background: none repeat scroll 0 0 #EEEEEE;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 20px;
    padding: 3px 10px;
    position: relative;
    vertical-align: top;
    width: 393px;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bubble::after {
    border-color: rgba(0, 0, 0, 0) #EEEEEE;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    content: "";
    display: block;
    left: -15px;
    position: absolute;
    top: 5px;
    width: 0;
    z-index: 1;
    font-size: 12px;
    padding-bottom: 5px;

}
