#landing_welcome_page {
  h3 {
    text-align: center;
  }
}

.btn a {
     text-decoration: none;
}

.fa-facebook-square:before {
    color:#3B5998;
}

.fa-twitter:before {
    color:#4099FF;
}

.fa-linkedin:before {
    color: #4875B4;
}