@import 'bootstrap';


#landing_page {
  // Top Section
  .navbar { margin-bottom: 0; }
  .top-section {
    &.girls {
      background: url("background-girls.png") 0% 25% no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    &.guys {
      background: url("background-guys-game.png") 0% 25% no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    &.neutral {
   #   background: url("background-neutral.png") 0% 25% no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    height: 700px;
  }


  h2.main_message {
    text-align: center;
    color: white;
    font-size: 42px;
    margin-top: 50px;
    font-weight: 300;
    text-shadow: 1px 1px 1px #000;
  }

  .join-screenshot {
    margin-top: 70px;
  }

  .join {
    float: left;

    margin-left: 35px;

    form {
      padding: 5px 25px 25px 25px;
      background-color: white;
      width: 220px;
      @include border-radius(10px);
      @include box-shadow(0px 0px 10px #888);
      .control-group {
        margin: 0;
      }
      label, input, button {
      font-family: "museo", helveticaneue, sans-serif;
        font-size: 15px;
      }
      label, input {
        color: #999999;
      }
      h3 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 10px;
        color: #1b60a4;
        font-weight: 300;
      }
      button {
        margin-top: 15px;
        width: 200px;
        margin-left: 10px;
        background-color: #ffa500;
        border: none;
        color: white;
        padding: 10px;
        @include border-radius(5px);
      }
      input[type="text"], input[type="password"] {
        box-shadow: none;
      }
    }
  }
  .screenshot {
    float: right;
    height: 400px;
    margin-left: 20px;
    margin-right: 0;
    img {
      @include box-shadow(0px 0px 10px #888);
    }
  }

  // Bottom Section
  .bottom-section {
    h3 {
    font-family: "museo", helveticaneue, sans-serif;
      font-weight: 100;
    }
    background-color: #f6f6f6;
    .container {
      background-color: white;
    }
  }

  .bullet-points {
    @include box-shadow(0px 0px 0px rgba(0,0,0,0.1));
  }

  .message {
    margin-top: 50px;
  }
  .bullet {
    padding: 40px;
  }
  .horz_gray {
    @include gradient-horizontal(#fff, #f3f5f8);
  }

}

.navbar { margin-bottom: 0px; }

select {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  width: 100px;
}

form#new_user {
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  margin: 0 auto;
  padding: 30px 20px 20px;
  width: 600px;
  margin-top: 25px;
  margin-bottom: 30px;
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}

.logo {
padding-top: 4%;
margin-left: 25%;
}

#formbox-login div.tips {
    padding-top: 0;
    width: 100px;
}
#formbox-login div.tips {
    line-height: 1.5;
    padding-top: 12px;
    width: auto;
}
#formbox-login-tips {
    height: 120px;
}
div.tips {
    color: #666666;
    font-size: 12px;
}
div.tips {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-left: 1px solid #DDDDDD;
    padding: 0 0 0 15px;
    right: 0;
    top: 0;
    width: 200px;
}
div.tips {

    color: #8B8078;
    float: right;
    padding: 25px;
    width: 150px;
}

#join a {
      font-size: 22px;
      text-align: center;
      padding: 15px 15px 15px 15px;
}

#join {
      text-align: center;
      margin: 0 auto;
}


#join1 {
      text-align: center;
      margin: 0 auto;
      color: #209DE3;
      font-size: 25px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  padding: 0 1;
  border-radius: 9px;
  margin-bottom: 20px;
  -moz-box-sizing: content-box;
  box-shadow: none;
  font-family: "museo", helveticaneue, sans-serif;
  outline: medium none;
}

.search_form .input {
margin-left: 50%;
}



.blue-border {
    border: 1px solid blue;
}

.pushf {
  margin-top: 8px;
}

.navbar-right > .activa > a:focus, .navbar-right > .activa > a {
  background-color: #363636;
  color: white;
}

.nav > .activa > a:hover, .nav > .active > a:focus, .nav > .activa > a {
  -moz-appearance: none !important;
  -moz-box-shadow: none !important;
  border: none !important;
  background-color: #363636;
  padding: 5px 20px 6px 20px;
}

.nav > .signin > a:hover, .nav > .signin > a:focus, .nav > .signin > a {
  -moz-appearance: none !important;
  -moz-box-shadow: none !important;
  border: none !important;
  background-color: #FFA500;
  margin-right: 60px;
  padding: 5px 20px 5px 20px;
}

.nav > .loggedin > a:focus, .nav > .loggedin > a:hover, .nav > .loggedin > a {
-moz-appearance: none !important;
  background-color: transparent !important;
  border: none !important;
  color: #F0FFFF;
  padding: 0 0 0 0;
}

.nav > .loggedina > a:focus, .nav > .loggedina > a:hover, .nav > .loggedina > a {
  -moz-appearance: none !important;
  background-color: transparent !important;
  border: none !important;
  color: #F0FFFF;
  margin-right: 60px;
  padding: 0 0 0 0;
}

.row { margin-top: 20px; }

.name {
  font-size: 20px;
  color: #00688B;
  border-bottom: 1px dotted gray;
  padding-bottom: 10px;
  font-weight: bold;
}

.name2 {
  padding-bottom: 17px;
  border-bottom: 1px dotted gray;
}

.line {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 8px;
  padding-top: 1px;
  padding-left: 5px;
  border-right: 1px solid #EBEBEB;
  border-left: 1px solid #EBEBEB;
}

.line1 {
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 8px;
  padding-top: 1px;
  padding-left: 10px;
  border-right: 1px solid #EBEBEB;
  border-left: 1px solid #EBEBEB;
  box-shadow: 1px 1px 5px #888888;
}


.name1 {
  font-size: 20px;
  color: #00688B;
  padding-bottom: 17px;
  font-weight: bold;
  position: absolute;
}

.side-buttons {
  padding-bottom: 15px;
  margin-left: 82.5%;
}

.side-buttons a {
  color: white;
  text-decoration: none;
}

.white a {
  color: white;
  text-decoration: none;
}

.upload a {
  color: white;
  text-decoration: none;
}

.addy {
  font-size: 14px;
  color: #00688B;
}

.span4 {
  width: 200px;
}

.name > .btn-success{
  margin-left: 32%;
  color: white;
  text-decoration: none;
}

.name > .btn-success a{
  color: white;
  text-decoration: none;
}

.name > .btn-warning a{
  color: white;
  text-decoration: none;
}

.left {
  margin-right: 37%;
}

.border-bot {
  border-bottom: 1px solid black;
}


// Do not override default styles!
// If you want different styles for hr element add class to your hr and write your styles
// hr {
//   margin: 2px 0;
//   border: 0;
//   border-top: 1px solid white;
//   border-bottom: 1px solid white;
// }

.nav > .active > a:hover, .nav > .active > a:focus, .nav > .active > a {
-moz-appearance: none !important;
/* IE10 Consumer Preview */
background-image: -ms-linear-gradient(right, #FFFFFF 0%, #F5F6F7 100%);
/* Mozilla Firefox */
background-image: -moz-linear-gradient(right, #FFFFFF 0%, #F5F6F7 100%);
/* Opera */
background-image: -o-linear-gradient(right, #FFFFFF 0%, #F5F6F7 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #FFFFFF), color-stop(1, #F5F6F7));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #F5F6F7 100%);
/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to left, #FFFFFF 0%, #F5F6F7 100%);
border-top: 3px solid #00BFFF !important;
padding: 6px 30px 6px 30px;
font-weight: bold;
color: #00688B;
}

.nav-tabs > li > a {
-moz-appearance: none !important;
/* IE10 Consumer Preview */
background-image: -ms-linear-gradient(right, #FFFFFF 0%, #F5F6F7 100%);
/* Mozilla Firefox */
background-image: -moz-linear-gradient(right, #FFFFFF 0%, #F5F6F7 100%);
/* Opera */
background-image: -o-linear-gradient(right, #FFFFFF 0%, #F5F6F7 100%);
/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #FFFFFF), color-stop(1, #F5F6F7));
/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #F5F6F7 100%);
/* W3C Markup, IE10 Release Preview */
background-image: linear-gradient(to left, #FFFFFF 0%, #F5F6F7 100%);
padding: 8px 30px 8px 30px;
color: black;
}

.nav-tabs {
    border-bottom: 1px none #DDDDDD;
}

.edit {
  background: #EBEBEB;
  padding: 10px 15px 0px 15px;
-moz-box-shadow:    0px 3px 5px -2px #ccc;
  -webkit-box-shadow: 0px 3px 5px -2px #ccc;
  box-shadow:         0px 3px 5px -2px #ccc;
}

input[type="checkbox"] {
    line-height: normal;
    margin: -2px 0 0;
}

.box > textarea, .box > input[type="text"], .uneditable-input {
  background-color: #CAD2D7;
  padding: 0 6%;
  width: 85%;
  height: 150px;
  background-clip: padding-box;
  border-radius: 9px;
  margin-bottom: 20px;
  -moz-box-sizing: content-box;
  background-color: rgba(0, 0, .2, .2);
  box-shadow: none;
  font-family: "museo", helveticaneue, sans-serif;
  outline: medium none;
}

#brand {
       display: block;
       clear: both;
       position: absolute;
       margin-left: 1.5%;
    
}

#brand1 {
       display: block;
       clear: both;
       position: absolute;
       margin-left: 4.5%;
}

