.side-bg {
  background-color: azure;
  padding: 20px 20px 20px 20px;
}
.question{
  .user_questions{
    color: #6194c3;
    .icon-edit {
      margin: 3px 0 0 5px;
      cursor: pointer;
    }
  }
  .answer{min-height: 50px;}
  p{min-height: 100px;}
  textarea{width: 95%;padding: 5px 10px;margin: 0px 0px 5px;min-height: 50px;}
}
.birthday{
  width: 75px;
}
.social_el{
  margin: 10px 0;
}
