<% if @notice.present? %>
  $('.modal-body').html("Sorry you can't join because this activity is <%= @notice %>");
  $('.bs-example-modal-sm').modal('show');
<% else %>
  $('.event_participants').append("<%#= j(render 'participant') %>");
  $('.attend_button').html("<%= j(button_to 'Not interested', stop_attend_activity_path(@activity), method: :delete, remote: true,
              class: 'btn btn-primary btn-lg btn-block creat-event margin-b') %> <div class='clearfix'></div>");
<% end %>
