<div class="row">
  <%= render 'layouts/left_side' %>

    <div class="col-md-12 event_info">
                  <div class="row">
                    <a href="activity-03.html">
                    <div class="col-md-12 event_m">
                      <div class="event-image">
                          <img src="images/event_image.jpg" align="image">
                        </div>

                        <div class="event-about">
                          <h3>I am looking for a Tennis Partner</h3>
                            <p class="place-map">Spaggos italian Cuisine, Los Angeles</p>
                            <p class="date">Wednesday, December 11,2013 </p>
                            <p class="c-time">9:00 am </p>
                            <p class="p-time">Once a month </p>
                            <div>
                              <img src="images/people_image.jpg" alt="image">
                                <p class="act-name">Anthony Panepinto</p>
                                <p class="act-d">22/M/Toronto</p>
                             <div class="clr"></div>
                            </div>
                        </div>
                    <div class="clr"></div>
                    </div>
                    </a>

                    <a href="activity-03.html">
                    <div class="col-md-12 event_m">
                      <div class="event-image">
                          <img src="images/event_image.jpg" align="image">
                        </div>

                        <div class="event-about">
                          <h3>I am looking for a Tennis Partner</h3>
                            <p class="place-map">Spaggos italian Cuisine, Los Angeles</p>
                            <p class="date">Wednesday, December 11,2013 </p>
                            <p class="c-time">9:00 am </p>
                            <p class="p-time">Once a month </p>
                            <div>
                              <img src="images/people_image.jpg" alt="image">
                                <p class="act-name">Anthony Panepinto</p>
                                <p class="act-d">22/M/Toronto</p>
                             <div class="clr"></div>
                            </div>
                        </div>
                    <div class="clr"></div>
                    </div>
                    </a>

                    <a href="activity-03.html">
                    <div class="col-md-12 event_m">
                      <div class="event-image">
                          <img src="images/event_image.jpg" align="image">
                        </div>

                        <div class="event-about">
                          <h3>I am looking for a Tennis Partner</h3>
                            <p class="place-map">Spaggos italian Cuisine, Los Angeles</p>
                            <p class="date">Wednesday, December 11,2013 </p>
                            <p class="c-time">9:00 am </p>
                            <p class="p-time">Once a month </p>
                            <div>
                              <img src="images/people_image.jpg" alt="image">
                                <p class="act-name">Anthony Panepinto</p>
                                <p class="act-d">22/M/Toronto</p>
                             <div class="clr"></div>
                            </div>
                        </div>
                    <div class="clr"></div>
                    </div>
                    </a>

                    <a href="activity-03.html">
                    <div class="col-md-12 event_m">
                      <div class="event-image">
                          <img src="images/event_image.jpg" align="image">
                        </div>

                        <div class="event-about">
                          <h3>I am looking for a Tennis Partner</h3>
                            <p class="place-map">Spaggos italian Cuisine, Los Angeles</p>
                            <p class="date">Wednesday, December 11,2013 </p>
                            <p class="c-time">9:00 am </p>
                            <p class="p-time">Once a month </p>
                            <div>
                              <img src="images/people_image.jpg" alt="image">
                                <p class="act-name">Anthony Panepinto</p>
                                <p class="act-d">22/M/Toronto</p>
                             <div class="clr"></div>
                            </div>
                        </div>
                    <div class="clr"></div>
                    </div>
                    </a>


                    <br>


                    </div>
                </div>

        </div>

        <div class="col-md-3">
          <a href="events-02.html">
          <button type="button" class="btn btn-primary btn-lg btn-block creat-event">+ Create Event</button>
            </a>

            <p class="filter-e">Filter Activites By :</p>
          <div class="panel panel-default">

            <div id="multiAccordion1">
               <h3 class="panel-title panel-heading-text"><a href="#">Location</a></h3>
                <div>
              <div class="panel-body">
              <div class="location">
          Within <input name="" type="text"> mile of me
       </div>
            </div>
            </div>


            </div>

            <div id="multiAccordion2">
               <h3 class="panel-title panel-heading-text border-t"><a href="#">Time</a></h3>
                <div>
              <div class="panel-body">
              <div class="times">
          <select>
          <option value="Tomorrow">Tomorrow</option>
          <option value="Today">Today</option>
          </select>
       </div>
            </div>
            </div>


            </div>

            <div id="multiAccordion3">
               <h3 class="panel-title panel-heading-text border-t"><a href="#">Partner Criteria</a></h3>
                <div>
              <div class="panel-body">
              <div class="age">
              <span style="margin-right:22%;">Age </span>
              <select>
                <option value="18"> 18 </option>
                <option value="19"> 19 </option>
                <option value="20"> 20 </option>
                <option value="21"> 21 </option>
                <option value="22"> 22 </option>
                <option value="23"> 23 </option>
                <option value="24"> 24 </option>
                <option value="25"> 25 </option>
                <option value="26"> 26 </option>
                <option value="27"> 27 </option>
                <option value="28"> 28 </option>
                <option value="29"> 29 </option>
                <option value="30"> 30 </option>
              </select>
              <span style="margin-right:5%; margin-left:5%;">To </span>
              <select>
                            <option value="18"> 22 </option>
                            <option value="19"> 23 </option>
                            <option value="20"> 24 </option>
                            <option value="21"> 25 </option>
                            <option value="22"> 26 </option>
                            <option value="23"> 27 </option>
                            <option value="24"> 28 </option>
                            <option value="25"> 29 </option>
                            <option value="26"> 30 </option>
                            <option value="27"> 31 </option>
                            <option value="28"> 32 </option>
                            <option value="29"> 33 </option>
                            <option value="30"> 34 </option>
                          </select>
              <div class="clr"></div>
              </div>

              <div class="gender">
                <span>Gender</span>
                <select>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          </select>
               <div class="clr"></div>
              </div>

              <div class="gender">
                <span>Ethnicity</span>
                <select>
          <option value="Asian">Asian</option>
          <option value="Middle eastern">Middle eastern</option>
                <option value="Pacific Islander ">Pacific Islander </option>
          </select>
              </div>

            <div id="multiAccordion4">
               <h3 class="panel-title panel-heading-text border-t"><a href="#">Category</a></h3>
                <div>
              <div class="panel-body">
            <div class="checkbox">
        <input id="check1" type="checkbox" name="check" value="check1">
        <label for="check1">Option 1</label>
        <br>
        <input id="check2" type="checkbox" name="check" value="check2">
        <label for="check2">Option 2</label>
            <br>
        <input id="check3" type="checkbox" name="check" value="check3">
        <label for="check3">Option 3</label>
            <br>
        <input id="check4" type="checkbox" name="check" value="check4">
        <label for="check4">Option 4</label>
            <br>
        <input id="check5" type="checkbox" name="check" value="check5">
        <label for="check5">Option 5</label>
            <br>
        <input id="check6" type="checkbox" name="check" value="check6">
        <label for="check6">Option 6</label>
            <br>
        <input id="check7" type="checkbox" name="check" value="check7">
        <label for="check7">Option 7</label>
            <br>
        <input id="check8" type="checkbox" name="check" value="check8">
        <label for="check8"> Option 8</label>
      </div>
      </div>
      </div>
      </div>

    <div class="col-md-12 event_info">
      <div class="row">
        <%= render @events %>
        <br>
      </div>
    </div>
  </div>

  <%= render 'events/right_side' %>
</div>
