<script type="text/javascript">
<% if Rails.env.development? %>
// Enable pusher logging - don't include this in production
// Pusher.log = function(message) {
//   if (window.console && window.console.log) {
//     window.console.log(message);
//   }
// };
<% end %>
<% if current_user %>
var pusher = new Pusher('6293348e8399c3c3b11e');
var channel = pusher.subscribe('new_messages_for_user_<%= current_user.id %>');
channel.bind('new_message', function(data) {
  $('.new_messages').html(
    '<span class="badge badge-important">' + data.new_messages_count +'</span>'
  );
});
<% end %>
</script>
